
<h1 class="title">THE BURGER APP</h1>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit" id="submit">Add Burger</button>
</form>
<div>
  <h2 class="title">Devoured</h2>
  {{#each burgers}}
     {{#if devoured}}
      <div class="devoured" data-id="{{id}}" data-devoured="{{devoured}}">
        {{burger_name}}
      </div>
      <br>
    {{/if}}
  {{/each}}
</div>

<div>
  <h2 class="title">Burgers to Eat</h2>
  {{#each burgers}}
    {{#unless devoured}}
      <div class="eat">
        {{burger_name}}
        <button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
          Devour it!
        </button>
        <br>
      </div>
    {{/unless}}
  {{/each}}
</div>
